__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Dataset (büyük dosyalar)
dataset/train/
dataset/val/
dataset/test/
dataset/raw/
*.zip

# Eğitilmiş ağırlıklar
models/weights/*.pth
models/weights/*.pt

# Jupyter checkpoint
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Loglar
runs/
*.log
